* {
  background-color: #181818;
  color: #f2f1c7;
}

//Navbar
.navButtons {
    width: 50%;
}
.navbar-brand {
  background-color: #343a40 !important;
}
#logoutButton {
  width: 25%;
}
//Loggedin
.loggedinText {
  text-align: center;
}


//Register/Login Warnings
.notice {
  color: orange;
  font-size: 16px;
  text-align: center;
}
.error {
  color: red;
  font-size: 20px;
  text-align: center;
}

//Register Page
#registerForm {
  .aRegisterInput {
    width: 100%;
  }
  button {
    width: 100%;
  }
}

//Desktop
@media only screen and (min-width: 960px) {
  //Navbar
  .navButtons, .navForm {
    width: auto;
  }
  #logoutButton {
    width: auto;
  }

  //Register/Login Warnings
  .notice {
    font-size: 24px;
  }
  .error {
    font-size: 36px;
  }

  //Register Page
  #registerForm {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    input {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
}
